doctype
html
	head
		title #{title} - My Site
	body
		header
			h1 My Site
		.container
			.main-content
				block content
			.sidebar
					div Navigation
					ul
					each link in localnavigation.links
						li(class=link.active?"active":"")
							a(href=link.link) #{link.name}
		footer
			p Running Horpyna